
	<script type="text/javascript">
		function openModal () {
			$('#myModal').foundation().foundation('reveal', 'open');
		};
		function closeModal () {
			$('#myModal').foundation().foundation('reveal', 'close');
		};
	</script>
<div class="row big-top-margin" ng-app="profileUpdate">
	<div class="large-8 large-centered columns panel" >
  	<h3 class="center">Edit Your Profile</h3>
		<br />
    <hr />
  
		<h3>Profile Picture</h3>
		<br />
		<h5>Current Profile Picture</h5>
		<div style="width:195px; height:220px; border: 1px solid black; overflow:hidden">
		<% if @profile.photo_file_name != nil %>
  		<%= image_tag @profile.photo.url(:large), :id => "preview" %>
		<% end %>
		</div>
		<br />
    <%= simple_form_for @profile ,html: {data: {ajax: false}} do |f| %>
			<%= f.input :photo, as: :file, label: false %>
			<%= f.hidden_field :id, :value => @profile.id %>
		<br />
			<%= f.button :submit, "Update Picture", class: "button [ small round ]" %>
		<% end %>
		<br />
		<br />		
		<h3>Physical Attributes</h3>
			<div ng-controller="ProfileCtrl">
				<form name="updateProfile" class="simple-form" id="updateProfile" ng-submit="submitForm(updateProfile)" novalidate>
					<label>Height</label>
					<select type="number" name="height" ng-model="profile.height" ng-options="n for n in range(48, 96)"></select>
					<label>Ethnicity</label>
					<select name="ethnicity" ng-model="profile.ethnicity">
						<option value="asian">Asian</option>
						<option value="biracial">Biracial</option>
						<option value="indian">Indian</option>
						<option value="hispanic">Hispanic</option>
						<option value="middle_eastern">Middle Eastern</option>
						<option value="native_american">Native American</option>
						<option value="pacific_islander">Pacific Islander”</option>
						<option value="caucasian">Caucasian</option>
						<option value="other">Other</option>	
					</select>
					<label>Eye Color</label>
					<select name="eye_color" ng-model="profile.eye_color">
						<option value="amber">Amber</option>
						<option value="blue">Blue</option>
						<option value="brown">Brown</option>
						<option value="green">Green</option>
						<option value="gray">Gray</option>
						<option value="hazel">Hazel</option>
					</select>
					<label>Hair Color</label>
					<select name="hair_color" ng-model="profile.hair_color">
						<option value="black">Black</option>
						<option value="brown">Brown</option>
						<option value="blond">Blond</option>
						<option value="auburn">Auburn</option>
						<option value="chestnut">Chestnut</option>
						<option value="red">Red</option>
						<option value="gray">Gray</option>
					</select>
					<label>Hair Length</label>
					<select name="hair_length" ng-model="profile.hair_length">
						<option value="short">Short</option>
						<option value="medium">Medium</option>
						<option value="long">Long</option>
					</select>
					<label>Shirt Neck</label>
					<input type="text" ng-model="profile.shirt_neck" name="shirt_neck" />
					<label>Shirt Sleeve</label>
					<input type="text" ng-model="profile.shirt_sleeve" name="shirt_sleeve" />
					<label>Suit/Dress Size</label>
					<input type="text" ng-model="profile.suit_dress_size" name="suit_dress_size" />
					<label>Waist Inseam</label>
					<input type="text" ng-model="profile.pants_inseam" name="pants_inseam" />
					<label>Waist Size</label>
					<input type="text" ng-model="profile.pants_waist" name="pants_waist" />
					<label>Shoe Size</label>
					<input type="text" ng-model="profile.shoe_size" name="shoe_size" />
					<label>Hat Size</label>
					<input type="text" ng-model="profile.hat_size" name="hat_size" />
					<label>Glove Size</label>
					<input type="text" ng-model="profile.glove_size" name="glove_size" />
					<label>Weight(lbs)</label>
					<select type="number" name="weight" ng-model="profile.weight" ng-options="n for n in range(80, 500)" ></select>
					<label>Physique</label>
					<select name="physique" ng-model="profile.physique">
						<option value="slim">Slim</option>
						<option value="average">Average</option>
						<option value="athletic">Athletic</option>
						<option value="muscular">Muscular</option>
						<option value="heavyset">Heavyset</option>
					</select>			
					<button type="submit" class="button [ small round ]" ng-click="update()">Update</button>
					<br />
					<span class="successFeedback" ng-if="alert" >{{alert}}</span>
					<span class="errorFeedback" ng-if="error">{{error}}</span>
				</form>
		</div>
 		<br />
		<h3>Contact Information</h3>
		<br />
		<div ng-controller="ContactCtrl">
			<form name="updateContact" class="simple-form" id ="updateContact" ng-submit="submitForm(updateContact)" novalidate>
				<label>Address Line 1</label>
				<input type="text" ng-model="contact.address_line_1" name="address_line_1" />
				<label> Address Line 2</label>
				<input type="text" ng-model="contact.address_line_2" name="address_line_2" />
				<label>City</label>
				<input type="text" ng-model="contact.city" name="city" />
				<label>State</label>
				<input type="text" ng-model="contact.state" name="state" />
				<label>Zip Code</label>
				<input type="text" ng-model="contact.zip_code" name="zip_code" />
				<label>Phone Number</label>
				<input type="text" ng-model="contact.phone_number" name="phone_number" />
				<label>Website</label>
				<input type="text" ng-model="contact.website" name="website" />
				<button type="submit" class="button [ small round ]" ng-click="update()">Update</button>
				<br />
				<span class="successFeedback" ng-if="alert" >{{alert}}</span>
				<span class="errorFeedback" ng-if="error">{{error}}</span>
   		</form>
		</div>
		<br />
		<br />
		<br />
		<h3>Employment Information</h3>
		<br />
		<div ng-controller="EmploymentCtrl">
			<form name="updateEmployment" class="simple-form" id="updateEmployment" ng-submit="submitForm(updateEmployment)" novalidate>
				<label>Skills</label>
				<input type="text" ng-model="employment.skills" name="skills">
				<label>Training</label>
				<input type="text" ng-model="employment.training" name="training">
				<label>Work History</label>
				<input type="text" ng-model="employment.work_history" name="work_history">
				<label>Job Categories</label>
				<input type="text" ng-model="employment.job_categories" name="job_categories">
				<label>Past Job Titles</label>
				<input type="text" ng-model="employment.past_job_titles" name="past_job_titles">
				<label>Primary Citizenship</label>
				<input type="text" ng-model="employment.primary_citizenship" name="primary_citizenship">
				<label>Work Unpaid?</label>
				<select ng-model="employment.work_unpaid" name="work_unpaid">
					<option value="true">Yes</option>	
					<option value="false">No</option>
				</select>
				<label>United States Citizenship?</label>
				<select ng-model="employment.united_states_citizenship" name="united_states_citizenship">
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
				<label>Valid Passport?</label>
				<select ng-model="employment.valid_passport" name="valid_passport">
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
				<button type="submit" class="button [ small round ]" ng-click="update()">Update</button>
				<br />
				<span class="successFeedback" ng-if="alert" >{{alert}}</span>
				<span class="errorFeedback" ng-if="error">{{error}}</span>
			</form>
		</div>
		<br />
		<br />
		<br />
 
		<h3>Credits</h3>
		<br />
		<div ng-controller="CreditMainCtrl">
			<button type="submit" ng-click="newCredit()" class="button [ small round ]" ng-if="addCreditButton">Add a new Credit</button>
			<br />
			<span class="successFeedback" ng-if="alert" >{{alert}}</span>
			<span class="errorFeedback" ng-if="error">{{error}}</span>
			<div ng-show="newCreditForm">
			 <form name="addCredit" class="simple-form" id="addCredit" ng-submit="submitForm(new.$valid)" novalidate>
				<label>Type</label>
				<select name="media_category" ng-model="newEntry.media_category" required>
					<option></option>
					<option value="film">Film</option>
					<option value="television">Television</option>
					<option value="commercial">Commercial</option>
					<option value="music_videos">Music Videos</option>
					<option value="video_games">Video Games</option>
					<option value="industrial">Industrial</option>
				</select>
				<p ng-show="addCredit.media_category.$invalid" class="help-block">required</p>
				<label>Project Name</label>
				<input type="text" ng-model="newEntry.project_name" name="project_name" required/>
				<p ng-show="addCredit.project_name.$invalid" class="help-block">required</p>
				<label>Role</label>
				<input type="text" name="role" ng-model="newEntry.role" required>
				<p ng-show="addCredit.role.$invalid" class="help-block">required</p>
				<Label>Company</Label>
				<input type="text" name="company" ng-model="newEntry.company" required>
				<p ng-show="addCredit.company.$invalid" class="help-block">required</p>
				<Label>Year Started</Label>
				<select type="number" name="start_year" ng-model="newEntry.start_year" ng-options="n for n in range(start_year, end_year)" required></select>
				<p ng-show="addCredit.start_year.$invalid" class="help-block">required</p>
				<Label>Year Ended</Label>
				<select type="number" name="end_year" ng-model="newEntry.end_year" ng-options="n for n in range(start_year, end_year)" required></select>
				<p ng-show="addCredit.end_year.$invalid" class="help-block">required</p>
				<button type="submit" class="button [ small round ]" ng-disabled="addCredit.$invalid" ng-click="create()">ADD</button>
				<button type="submit" class="button [ small round ]" ng-click="cancelNewCredit()">Cancel</button>
				<br />
				
			</form>
				</div>
			<br />
			<br />
			<h4>Your Credits</h4>
			<hr />
			<ul class="creditList" id="creditList" ng-init="showCredit=true">
				<li ng-repeat="entry in entries" ng-controller="CreditCtrl"   >
					<div ng-if="showCredit">
			 		<form name="deleteCredit" class="simple-form" ng-submit="submitForm(deleteCredit)" novalidate>
						<p>{{entry.media_category | capitalize}}</p>
						<br />
						<p class="creditTitle">{{entry.project_name}} <i>by</i> <span>{{entry.company}}</span></p>
						<br />
						<p>{{entry.role}}</p>
						<p class="year">{{entry.start_year}}/{{entry.end_year}}</p>
						<br />
						<button ng-hide="edit" type="submit" class="button [ small round ]" ng-click="editEntry()">Edit</button>
						<div id="myModal" class="reveal-modal" data-reveal>
  						<h2>Warning</h2>
  						<p class="lead">Deleting this credit is not reversible.</p>
  						<p>Would you like to continue?</p>
							<br />
							<button type="submit" class="button [ small round ]" ng-click="destroy(entry)" onclick="closeModal();" >Delete</button>
							<button type="submit" class="button [ small round ]" onclick="closeModal();">Cancel</button>
						</div>
						<button ng-hide="edit" type="submit" class="button [ small round ] deleteCreditButton" onclick="openModal();">Delete</button>
						<br />
						<span class="successFeedback" ng-if="creditUpdateSuccessMsg" >{{creditUpdateSuccessMsg}}</span>
						<span class="errorFeedback" ng-if="creditUpdateFailMsg">{{creditUpdateFailMsg}}</span>
					</form>
					<div ng-show="edit">
						<hr />
			 			<form name="updateCredit" class="simple-form editCredit" ng-submit="submitForm(updateCredit)" novalidate>
							<label>Type</label>
							<select name="media_category" ng-model="entry.media_category" required>
								<option></option>
								<option value="film">Film</option>
								<option value="television">Television</option>
								<option value="commercial">Commercial</option>
								<option value="music_videos">Music Videos</option>
								<option value="video_games">Video Games</option>
								<option value="industrial">Industrial</option>
							</select>
				 			<p ng-show="updateCredit.media_category.$invalid" class="help-block">required</p>
							<label>Project Name</label>
							<input type="text" ng-model="entry.project_name" name="project_name" required/>
							<p ng-show="updateCredit.project_name.$invalid" class="help-block">required</p>
							<label>Role</label> 
							<input type="text" name="role" ng-model="entry.role" required>
							<p ng-show="updateCredit.role.$invalid" class="help-block">required</p>
							<Label>Company</Label>
							<input type="text" name="company" ng-model="entry.company" required>
							<p ng-show="updateCredit.company.$invalid" class="help-block">required</p>
							<Label>Year Started</Label>
							<select type="number" name="start_year" ng-model="entry.start_year" ng-options="n for n in range(start_year, end_year)" required></select>
							<p ng-show="updateCredit.start_year.$invalid" class="help-block">required</p>
							<Label>Year Ended</Label>
							<select type="number" name="end_year" ng-model="entry.end_year" ng-options="n for n in range(start_year, end_year)" required></select>
							<p ng-show="updateCredit.end_year.$invalid" class="help-block">required</p>
							<button type="submit" class="button [ small round ]" ng-click="cancelEdit()">Cancel</button>
							<button type="submit" class="button [ small round ]" ng-disabled="updateCredit.$invalid" ng-click="update(entry)">Update</button>
						</form>
						</div>
						</div>
					</li>
				</ul>
			<p class="noCredits" ng-if="entries.length == 0 || !entries.length">You currently have no credits. Please add some credits.</p>
			</div>
			</div>
	</div>
