<div class="row panel big-top-margin">
  <div class="large-12 columns">
    <h3>Login</h3>
    <hr />
  </div>
  <div class="large-6 columns">
      <%= form_tag '/login', method: 'post' do  %>
	<%= label_tag :email %>
	<%= text_field_tag :email %>
    </br>
	<%= label_tag :password %>
	<%= password_field_tag :password %>
    </br>
    <%= submit_tag 'Login' %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me %>
		<% end %>
<form action="/reset_password">
		<input type="submit" value="Forgot Password?">
	</form>
  </div>
  <div class="large-6 large-offset-6 columns"></div>
    
	
</div>