<div class="row panel">
  <div class="large-12 columns">
    <h1>Search Stunt Profiles</h1>
    <%= form_tag(stunt_profiles_path, :method => "get", id: "search-form") do %>
      
      <%= label_tag :min_age, "Minimum Age" %>
      <%= text_field_tag :min_age, params[:min_age], maxlength: 2 %>
      <%= label_tag :max_age, "Maximum Age" %>
      <%= text_field_tag :max_age, params[:max_age], maxlength: 2 %>

      <%= label_tag :min_height, "Minimum Height" %>
      <%= text_field_tag :min_height, params[:min_height], maxlength: 4 %>
      <%= label_tag :max_height, "Maximum Height" %>
      <%= text_field_tag :max_height, params[:max_height], maxlength: 4 %>

      <%= label_tag :min_weight, "Minimum Weight" %>
      <%= text_field_tag :min_weight, params[:min_weight], maxlength: 6 %>
      <%= label_tag :max_weight, "Maximum Weight" %>
      <%= text_field_tag :max_weight, params[:max_weight], maxlength: 6 %>
      
      <%= label_tag :physique_search, "Physique" %>
      <%= select_tag "physique_search", options_for_select(physique, params[:physique_search]) %>

      <%= label_tag :ethnicity_search, "Ethnicity" %>
      <%= select_tag "ethnicity_search", options_for_select(ethnicity, params[:ethnicity_search]) %>

      <%= label_tag :eye_color_search, "Eye Color" %>
      <%= select_tag "eye_color_search", options_for_select(eye_color, params[:eye_color_search]) %>

      <%= label_tag :hair_color_search, "Hair Color" %>
      <%= select_tag "hair_color_search", options_for_select(hair_color, params[:hair_color_search]) %>


      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>
<div class="row panel">
  <div class="large-12 columns">    
    <ul class="small-block-grid-4">      
        <% @stunt_profiles.each do |stunt_profile| %>        
            <li>              
                <%= link_to image_tag(stunt_profile.profile_pictures.first.picture.url(:thumb), :class => "th"), profile_path(stunt_profile) %>
                <br />
                <strong><%= stunt_profile.user.first_name %>&nbsp;<%= stunt_profile.user.last_name %> </strong>
                <br />
                <%= stunt_profile.address %>
                <%= stunt_profile.user.email %>
            </li>
        <% end %>
      
    </ul>
  </div>
</div>


<% if !@stunt_profiles.nil?%>
<h1>Listing stunt_profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Age</th>
      <th>Occupation</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Physique</th>
      <th>Ethnicity</th>
      <th>Eye color</th>
      <th>Hair color</th>
      <th>Hair length</th>
      <th>Neck size</th>
      <th>Sleeve size</th>
      <th>Suit size</th>
      <th>Waist</th>
      <th>Pant length</th>
      <th>Shoe size</th>
      <th>Hat size</th>
      <th>Glove size</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Phone number</th>
      <th>Website</th>
      <th>Skills</th>
      <th>Education</th>
      <th>Training</th>
      <th>Work history</th>
      <th>Job categories</th>
      <th>Post job titles</th>
      <th>Unpaid work</th>
      <th>Authorized to work</th>
      <th>Primary citizenship</th>
      <th>Valid passport</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stunt_profiles.each do |stunt_profile| %>
      <tr>
        <td><%= stunt_profile.user_id %></td>
        <td><%= stunt_profile.age %></td>
        <td><%= stunt_profile.occupation %></td>
        <td><%= stunt_profile.height %></td>
        <td><%= stunt_profile.weight %></td>
        <td><%= stunt_profile.physique %></td>
        <td><%= stunt_profile.ethnicity %></td>
        <td><%= stunt_profile.eye_color %></td>
        <td><%= stunt_profile.hair_color %></td>
        <td><%= stunt_profile.hair_length %></td>
        <td><%= stunt_profile.neck_size %></td>
        <td><%= stunt_profile.sleeve_size %></td>
        <td><%= stunt_profile.suit_size %></td>
        <td><%= stunt_profile.waist %></td>
        <td><%= stunt_profile.pant_length %></td>
        <td><%= stunt_profile.shoe_size %></td>
        <td><%= stunt_profile.hat_size %></td>
        <td><%= stunt_profile.glove_size %></td>
        <td><%= stunt_profile.address %></td>
        <td><%= stunt_profile.city %></td>
        <td><%= stunt_profile.state %></td>
        <td><%= stunt_profile.zip_code %></td>
        <td><%= stunt_profile.phone_number %></td>
        <td><%= stunt_profile.website %></td>
        <td><%= stunt_profile.skills %></td>
        <td><%= stunt_profile.education %></td>
        <td><%= stunt_profile.training %></td>
        <td><%= stunt_profile.work_history %></td>
        <td><%= stunt_profile.job_categories %></td>
        <td><%= stunt_profile.post_job_titles %></td>
        <td><%= stunt_profile.unpaid_work %></td>
        <td><%= stunt_profile.authorized_to_work %></td>
        <td><%= stunt_profile.primary_citizenship %></td>
        <td><%= stunt_profile.valid_passport %></td>
        <td><%= link_to 'Show', stunt_profile %></td>
        <td><%= link_to 'Edit', edit_stunt_profile_path(stunt_profile) %></td>
        <td><%= link_to 'Destroy', stunt_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
