

			<li>
			<%= link_to profile_path(id: user.profile.id) do %>

				<div class="profile">
					
					<% if user.profile.photo.blank? %>
					  				<%= image_tag "tempProfileSmall.png" %>

					<% else %>
					  				<%= image_tag user.profile.photo(:small) %>

					<% end %>
					<h6><%= user.full_name %></h6>
					<p><%= (user.profile.wardrobe_height)  %> 	<%=user.profile.weight.to_s + " pounds" %></p>
					<h6>Contact Information</h6>
					<p><%=user.profile.contact_city_and_state %>
					<p><%=user.profile.contact.phone_number %></p>
					<p><%= user.profile.contact.email %></p>
				</div>
			<% end %>
			</li>
