

<div class="row">
	<div class="large-12 columns">
		<h3 class="profiles_row_title">Stunt Coordinators</h3>
	</div>
</div>
<div class="row">
	<ul class="large-block-grid-5">


<% @stunt_coordinators.each do |coordinator| %>
	<%= render 'mini_profiles', user: coordinator %>
<% end %>
		<li>
			<div class="rightArrow">
				<%= link_to image_tag("rightArrow.png", style:  "width: 50px;height: 50px;" ), stunt_coordinator_index_path %>
    	</div>
		</li>
	</ul>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3 class="profiles_row_title">Male Stunt Actors</h3>
	</div>
</div>
<div class="row">
	<ul class="large-block-grid-5">
		<% @male_stunt_actors.each do |coordinator| %>
			<%= render 'mini_profiles', user: coordinator %>
		<% end %>
		<li>
			<div class="rightArrow">
    		<%= link_to image_tag("rightArrow.png", style:  "width: 50px;height: 50px;" ), male_stunt_actor_index_path %>
    	</div>
		</li>
	</ul>
</div>
<div class="row">
	<div class="large-12 columns">
		<h3 class="profiles_row_title">Female Stunt Actors</h3>
	</div>
</div>
<div class="row">
	<ul class="large-block-grid-5">
		<% @female_stunt_actors.each do |coordinator| %>
			<%= render 'mini_profiles', user: coordinator %>
		<% end %>
			<li>
			<div class="rightArrow">
    		<%= link_to image_tag("rightArrow.png", style:  "width: 50px;height: 50px;" ), female_stunt_actor_index_path %>
    	</div>
		</li>
	</ul>
</div>