
<div class="row panel big-top-margin">
  <div class="large-12 columns">
    <h3>Create Your Account</h3>
    <hr />
  </div>
<%= simple_form_for @user do |f| %>
  <div class="large-6 columns">
      <%= f.input :email %>
      <%= f.input :password, label: "* Password" %>
      <%= f.input :first_name, label: "First Name" %>
      <%= f.input :last_name, label: "Last Name" %>
      <%= f.input :gender, label: "* Gender", :as => :radio_buttons, collection: [["Male", "male"],["Female", "female"]], :item_wrapper_class => 'inline' %>
      <%= f.input :roles, label: "* Roles", :as => :radio_buttons, collection: [["Stunt Actor", "actor"],["Stunt Coordinator", "coordinator"]], :item_wrapper_class => 'inline' %>
 
    <%= f.submit  "Sign Up", class:"button [radius round] floatRight"%>
  </div>
  <div class="large-6 large-offset-6 columns"></div>
    <% end %>
</div>


